azure-common
azure-communication-email
azure-core
azure-mgmt-core
bcrypt
blinker
certifi
charset-normalizer
click
colorama
Flask
Flask-Bcrypt
Flask-Mail
Flask-SQLAlchemy
greenlet
idna
isodate
itsdangerous
Jinja2
MarkupSafe
msrest
oauthlib
pillow
psycopg2-binary
pyodbc
python-dotenv
pytz
requests
requests-oauthlib
six
SQLAlchemy
typing_extensions
urllib3
Werkzeug
WooCommerce
APScheduler
msal
pandas
tzlocal
schedule
