<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <a href="https://micelu.co/" class="back-arrow">
        <i class="fas fa-arrow-left"></i>
    </a>
    <section class="d-flex justify-content-center align-items-center">
        <div class="panel card shadow col-xs-12 col-sm-6 col-md-6 col-lg-4 p-4">
            <div class="title-container">
                <h4 class="title-text">
                 INICIO DE SESIÓN
                </h4>
            </div>
            <div class="mb-1">
                <form method="POST" action="{{ url_for('login') }}">
                    <div class="mb-4">
                        <div>
                            <label for="documento" class="label-text"><i class="fa-solid fa-id-card" style="color: black;"></i> Documento:</label>
                            <input type="text" class="form-control" name="documento" id="documento" placeholder="Ingrese Su Cedula o Nit" required>
                            <div class="nombre text-danger"></div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="contraseña" class="label-text"><i class="fas fa-lock" style="color: black;"></i> Contraseña:</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Ingrese Su Contraseña" required>
                            <span class="input-group-text position-absolute end-0 bg-transparent border-0" id="togglePassword" style="z-index: 10; cursor: pointer;">
                                <i class="bi bi-eye"></i>
                            </span>
                        </div>
                        <div class="number text-danger"></div>
                        <div class="mt-2 d-flex justify-content-between">
                            <a href="{{ url_for('recuperar_pass') }}" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
                            <a href="{{ url_for('crear_pass') }}" class="text-decoration-none">Crear contraseña</a>
                        </div>
                    </div>
                    <div class="mb-2">
                        <button id="botton" type="submit" class="boton1 col-12 d-flex justify-content-between">
                            <span class="button-text">Iniciar</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script>
        document.getElementById('togglePassword').addEventListener('click', function() {
            var passwordInput = document.getElementById('contraseña');
            var icon = this.querySelector('i');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('bi-eye');
                icon.classList.add('bi-eye-slash');
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('bi-eye-slash');
                icon.classList.add('bi-eye');
            }
        });
    </script>
     <!-- menu section -->
  
      
     <div class="footer">

        <div class="Principalfooter">
            <div class="half">
                <a href="https://wa.me/3053333330" target="_blank" rel="noopener noreferrer" class="icon-whatsapp">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                Comprar
            </div>
            <div class="social-icons">
                <!-- Icono de TikTok -->
                <a href="https://www.tiktok.com/@micelu_co" target="_blank" rel="noopener noreferrer" class="icon-tiktok">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
                Tiktok
                <!-- Icono de Instagram -->
                <a href="https://www.instagram.com/micelu.co" target="_blank" rel="noopener noreferrer" class="icon-instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                Instagram
            </div>
            
      </div>
      <p>&copy; <a href="https://micelu.co/" class="footer-link">Micelu.co</a></p>
      </div>
   
   

 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>