<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta http-equiv="refresh" content="14400">

  <title>Redime</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logopequeño.png') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />


  <!-- bootstrap core css -->

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- responsive style -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/beneficios.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header-improvements.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mobile-sidebar-menu.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/miperfil.js') }}"></script>
  <script src="{{ url_for('static', filename='js/puntos.js') }}"></script>
  <script src="{{ url_for('static', filename='js/copiarcodigo.js') }}"></script>

</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/quesonpuntos">
            <span>
              <img src="{{ url_for('static', filename='images/logopequeño.png') }}" class="imgcelu">
            </span>
          </a>
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navigation Links -->
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="/quesonpuntos">¿Qué son Puntos?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/mhistorialcompras">Compras Realizadas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cobertura" id="coberturaLink">Activa Cobertura</a>
              </li>
              {% if is_admin %}
              <li class="nav-item">
                <a class="nav-link" href="/admin/auditoria" style="color: #ff6b35; font-weight: 600;">
                  <i class="material-icons" style="font-size: 20px; vertical-align: middle; margin-right: 3px;">admin_panel_settings</i>
                  Panel Admin
                </a>
              </li>
              {% endif %}
            </ul>
            
            <!-- User Greeting Section -->
            <div class="user-greeting-container">
              <div class="icon-text-container">
                <i class="fa-solid fa-user"></i>
                <span class="fw-bold1">Hola {{ usuario.nombre|title }}, tienes</span>
              </div>
              <span id="nav-points" class="badge custom-badge">{{ "{:,.0f}".format(total_puntos) }} Puntos</span>
            </div>
            
            <!-- User Dropdown -->
            <div class="dropdown">
              <a class="nav-link custom-dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="material-icons custom-icon">account_circle</i>
                <i class="material-icons custom-icon-arrow">arrow_drop_down</i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="custom-dropdown-item" href="/miperfil">Mi perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="custom-dropdown-item" href="#" id="customLogoutButton">Cerrar sesión</a></li>
              </ul>
            </div>
          </div>

        </nav>
      </div>
    </header>

    <!-------------cards filtro----------->
    <div class="container-fluid1">
      <h1 class="titulo">¡Canjea y elige tu marca o accesorio favorito!</h1>
      <div class="image-slider">
        <div class="image-track">
          <div class="image-item">
            <a href="https://micelu.co/celulares/?jsf=jet-woo-products-grid&tax=product_cat:89" target="_blank">
              <img src="{{ url_for('static', filename='images/apple.png') }}" alt="Apple">
            </a>
          </div>
          <div class="image-item">
            <a href="https://micelu.co/celulares/?jsf=jet-woo-products-grid&tax=product_cat:89" target="_blank">
              <img src="{{ url_for('static', filename='images/samsung.png') }}" alt="Samsung">
            </a>
          </div>
          <div class="image-item">
            <a href="https://micelu.co/producto/microfono-inhalambrico-solapa-k9-tipo-c-con-adaptador-iphone/"
              target="_blank">
              <img src="{{ url_for('static', filename='images/microfonos.png') }}" alt="Xiaomi">
            </a>
          </div>
          <div class="image-item">
            <a href="https://micelu.co/producto/xiaomi-redmi-14-c-128gb-nuevo/" target="_blank">
              <img src="{{ url_for('static', filename='images/xiaomi.png') }}" alt="Xiaomi">
            </a>
          </div>
          <div class="image-item">
            <a href="https://micelu.co/celulares/?jsf=jet-woo-products-grid&tax=product_cat:89" target="_blank">
              <img src="{{ url_for('static', filename='images/redmi.png') }}" alt="Huawei">
            </a>
          </div>
          <div class="image-item">
            <a href="https://micelu.co/producto/life-note-3s-soundcore/" target="_blank">
              <img src="{{ url_for('static', filename='images/airpods-black.png') }}" alt="black">
            </a>
          </div>
          <div class="image-item">
            <a href="https://micelu.co/producto/audifonos-inalambricos-movisun-t13/" target="_blank">
              <img src="{{ url_for('static', filename='images/airpods-white.png') }}" alt="white">
            </a>
          </div>
          <div class="image-item">
            <a href="https://micelu.co/celulares/?jsf=jet-woo-products-grid&tax=product_cat:97" target="_blank">
              <img src="{{ url_for('static', filename='images/motorola.png') }}" alt="Motorola">
            </a>
          </div>
          <div class="image-item">
            <a href="https://micelu.co/producto/iphone-16-128gb-nuevo/" target="_blank">
              <img src="{{ url_for('static', filename='images/iphone16.png') }}" alt="Motorola">
            </a>
          </div>
          <div class="image-item">
            <a href="https://micelu.co/producto/smartbank-2x-10-000-a/" target="_blank">
              <img src="{{ url_for('static', filename='images/smartbank.png') }}" alt="smartbank">
            </a>
          </div>
          <div class="image-item">
            <a href="https://micelu.co/producto/smartsound-a-bafle-resistente-al-agua/" target="_blank">
              <img src="{{ url_for('static', filename='images/bafle.png') }}" alt="bafle">
            </a>
          </div>
          <div class="image-item">
            <a href="https://micelu.co/producto/cable-apple-watch-tipo-c/" target="_blank">
              <img src="{{ url_for('static', filename='images/cable.png') }}" alt="cable">
            </a>
          </div>
          <div class="image-item">
            <a href="https://micelu.co/producto/usb-kingston-64gb/" target="_blank">
              <img src="{{ url_for('static', filename='images/usb.png') }}" alt="usb">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Aside -->
    <div class="tabla-redimir">
      <aside class="col-md-12">
        <div class="table-container">
          <div class="container mt-4">
            <h3 class="titulo3">¡Club de puntos elige el metodo y Canjea tus puntos ahora!</h3>
    
            <!-- Botones para seleccionar el método -->
            <div class="row d-flex justify-content-between mb-3">
              <div class="col-md-12 text-center">
                <button id="tab-virtual" class="btn btn-primary1" onclick="mostrarTabla('virtual')">Canje en Tienda Virtual</button>
                <button id="tab-fisica" class="btn btn-secondary1" onclick="mostrarTabla('fisica')">Canje en Tienda Física</button>
              </div>
            </div>
    
            <!-- Contenedor de las tablas -->
            <div class="row d-flex justify-content-between">
              <div class="col-md-12">
                <div id="tabla-container">
                  <div id="tabla-virtual" class="tabla-puntos">
                    <table>
                      <thead>
                        <tr>
                          <th>Canje en Tienda Virtual</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="d-flex align-items-center">
                              <img src="{{ url_for('static', filename='images/logopequeño.png') }}" alt="Logo" class="custom-logo">
                              <input type="text" id="points-input" placeholder="Ingrese puntos">
                            </div>
                            <button id="redeem-button" class="btn btn-primary mt-2">Redimir Puntos</button>
                            <button id="ver-cupon" class="btn btn-secondary mt-2">Ver Cupón</button>
                          </td>
                        </tr>
                        <tr>
                          <td class="Pun">Puntos actuales: <span id="current-points">{{ total_puntos }}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
    
                  <!-- Cuadro para redimir puntos en tienda física -->
                  <div id="tabla-fisica" class="tabla-puntos" style="display: none;">
                    <table>
                      <thead>
                        <tr>
                          <th>Canje en Tienda Física</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="d-flex align-items-center">
                              <img src="{{ url_for('static', filename='images/logopequeño.png') }}" alt="Logo" class="custom-logo">
                              <input type="text" id="points-input1" placeholder="Ingrese puntos" class="form-control">
                            </div>
                            <div class="d-flex align-items-center mt-2">
                              <span class="text-descuento"> ¡Redime tus puntos en tienda física!</span>
                            </div>
                            <button id="redeem-button1" class="btn btn-primary mt-2">Redimir Puntos</button>
                            <button id="ver-cupon1" class="btn btn-secondary mt-2">Ver Cupón</button>
                          </td>
                        </tr>
                        <tr>
                          <td class="Pun">Puntos actuales: <span id="current-points">{{ total_puntos }}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
    <br>
    
  <!-------------------------- MODAL REDIMIR PUNTOS------------------------------->

  <div class="modal fade" id="redemptionModal" tabindex="-1" aria-labelledby="redemptionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header custom-bg-color text-white">
          <h5 class="modal-title" id="redemptionModalLabel">Redención Exitosa</h5>
        </div>
        <div class="modal-body">
          <div class="text-center mb-4">
            <i class="fas fa-check-circle text-success" style="font-size: 30px;"></i>
          </div>
          <h4 class="text-center mb-4">¡Felicidades! Has canjeado tus puntos exitosamente.</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-3 coupon-card">
                <div class="card-body">
                  <h5 class="card-title">Código De Tu Cupón</h5>
                  <p class="card-text"><strong id="redemptionCode" class="fs-4"></strong></p>
                  <button onclick="copiarCodigo2()"><i class="fa-solid fa-copy"></i></button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-3 coupon-card">
                <div class="card-body">
                  <h5 class="card-title">Descuento Aplicado</h5>
                  <br>
                  <br>
                  <p class="card-text"><strong id="redemptionDiscount" class="fs-4"></strong></p>
                </div>
              </div>
            </div>
            <p class="custom-text">Tu cupón expira en 12 horas. ¡Úsalo en tu próxima compra!</p>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" id="closeModalButton" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!--------------------------- MODAL VER CUPON ----------------------------->
  <div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header custom-bg-color text-white">
          <h5 class="modal-title " id="couponModalLabel">Tu Cupón</h5>
        </div>
        <div class="modal-body">
          <div class="text-center mb-4">
            <i class="fas fa-ticket-alt text-success" style="font-size: 40px;"></i>
          </div>
          <h4 class="text-center mb-4">Aquí está tu ultimó cupón de descuento</h4>
          <div class="card mb-3 coupon-card">
            <div class="card-body">
              <h5 class="card-title">Código del Cupón</h5>
              <p class="card-text"><strong id="couponCode" class="fs-4"></strong></p>
              <button onclick="copiarCodigo()" class="btn btn-secondary btn-sm"> <i class="fa-solid fa-copy"></i>Copiar cupon</button>
            </div>
          </div>
          <p class="custom-text">Tu cupón expira en 12 horas. ¡Úsalo en tu próxima compra!</p>
        </div>
        <div class="modal-footer">
          <button type="button" id="closeCouponModalButton" class="btn btn-secondary"
            data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!--------Modal para redimir fisico-->
  <div class="modal fade" id="redemptionModal1" tabindex="-1" aria-labelledby="redemptionModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Encabezado del Modal -->
            <div class="modal-header custom-bg-color text-white">
                <h5 class="modal-title" id="redemptionModalLabel1">Cupón Generado</h5>
            </div>
            
            <!-- Contenido Principal del Modal -->
            <div class="modal-body">
                <div class="text-center mb-4">
                    <i class="fas fa-tag text-success" style="font-size: 30px;"></i>
                </div>
                <h4 class="text-center mb-4">¡Aquí está tu cupón exclusivo!</h4>
                
                <!-- Diseño de los cuadros del cupón -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-3 coupon-card">
                            <div class="card-body">
                                <h5 class="card-title">Código del Cupón</h5>
                                <p class="card-text"><strong id="redemptionCode1" class="fs-4"></strong></p>
                                <button id="copyCodeButton1" class="btn btn-outline-success btn-sm">
                                    <i class="fa-solid fa-copy"></i> Copiar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-3 coupon-card">
                            <div class="card-body">
                                <h5 class="card-title">Descuento Aplicado</h5>
                                <p class="card-text"><strong id="redemptionDiscount1" class="fs-4"></strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="custom-text text-center mt-3">Tu cupón expira en <strong id="redemptionExpiration1"></strong>. ¡Úsalo en tienda Fisica</p>
            </div>
            
            <!-- Pie del Modal con botón para cerrar -->
            <div class="modal-footer">
                <button type="button" id="closeModalButton1" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="customLogoutModal" tabindex="-1" role="dialog" aria-labelledby="customLogoutModalLabel"
aria-hidden="true">
<div class="modal-dialog custom-logout-modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="customLogoutModalLabel">Confirmar cierre de sesión</h5>
    </div>
    <div class="modal-body">
      ¿Deseas cerrar esta sesión?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" id="cancelLogoutButton">No</button>
      <a href="{{ url_for('logout') }}" class="btn btn-primary">Sí</a>
    </div>
  </div>
</div>
</div>


  <script src="path/to/bootstrap.bundle.min.js"></script> <!-- Bootstrap JS -->
  <div class="footer">
          <!---<div class="Principalfooter">
        <div class="social-icons">
          <div class="social-item">
            <a href="https://wa.me/3053333330" target="_blank" rel="noopener noreferrer" class="icon-whatsapp">
              <i class="fa-brands fa-whatsapp"></i>
            </a>
            <p class="text-icono">Comprar</p>
          </div>
          <div class="social-item">
            <a href="https://www.tiktok.com/@micelu_co" target="_blank" rel="noopener noreferrer" class="icon-tiktok">
              <i class="fa-brands fa-tiktok"></i>
            </a>
            <p class="text-icono">Tiktok</p>
          </div>
          <div class="social-item">
            <a href="https://www.instagram.com/micelu.co" target="_blank" rel="noopener noreferrer"
              class="icon-instagram">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <p class="text-icono">Instagram</p>
          </div>
        </div>
      </div>!--->
    <div class="footer1">
        <p>&copy; <a href="https://micelu.co/condiciones-celuprotegemos/" class="footer-link">Términos y Condiciones - Cobertura Pantalla - Micelu.co</a></p>
    </div>
  </div>


  <script src="{{ url_for('static', filename='js/cerrarsesion.js') }}"></script>
  <script src="{{ url_for('static', filename='js/movimiento.js') }}"></script>
  <script src="{{ url_for('static', filename='js/redimir_fisico.js') }}"></script>
  <script src="{{ url_for('static', filename='js/mobile-name-shortener.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/mobile-sidebar-menu.js') }}"></script>
</body>

</html>